
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

    <title>{{ title }}</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="{% static 'jiga/css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'jiga/css/timepicker.css' %}">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
    {% block head %} {% endblock %}
</head>
<body>
    {% include 'jiga/header.html' %}

    <div class="container">
        {% block content %}


        {% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script src="{% static 'jiga/js/bootstrap.js' %}"></script>
    <script src="{% static 'jiga/js/timepicker.js' %}"></script>
    {% block scripts %} {% endblock %}

</body>

</html>