{% extends 'jiga/application_layout.html' %}

    {% block head %}
    <style>
        .comment {
            border: dashed #080808;
            margin: 10px 10px 10px 10px;
        }
        #comment_set {
            border:  solid #269abc;

        }
    </style>
   {% endblock %}


{% block content %}
    <div class="row row-offcanvas row-offcanvas-right">
        <p>
            <div class="jumbotron">
                <h1>{{ post.post_title }} -- {{ post.user.first_name }} {{ post.user.last_name }}</h1>
                <p>{{ post.post_text }}</p>
                {% if user == post.user %}
                    <a href="{% url 'jiga:edit_post' post.id %}">Edit post</a>
                {% endif %}
            </div>
        </p>
        <div class="col-xs-12 col-sm-9">
            <div id="comment_set">
                {% for comment in post_comments %}
                <div class="comment">
                    <p>{{ comment.comment_title }} -- {{ comment.user.first_name }}
                        {{ comment.user.last_name }} | {{ comment.pub_date }}
                    </p>
                    {{ comment.comment_text }}
                </div>
                {% endfor %}
            </div>
            <br /> <br/>
            {% if user.is_authenticated  %}
                <div id="add_comment">
                    <form method="post" action="{% url 'jiga:create_comment' post.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Add comment" />
                    </form>
                </div>
            {% endif %}
        </div>

        <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas" rove="navigation">
            <p>Author:</p>
            <div class="list-group">
                <p class="list-group-item"> {{ post.user.first_name }} {{ post.user.last_name }}
                {{ post.pub_date }}</p>
            </div>
        </div>
    </div>

{% endblock %}